[data-active="false"]{
	display: none;
}

.cart {
	padding: 1rem;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 100;
	background: rgba(#fff, .8);
	
	ul {
		list-style: none;
	}
	
	li {
		display: flex;
		padding: 1rem;
		border-bottom: 1px solid lightgray;
		justify-content: space-between;
		align-items: center;
	}
	
	.title {
		font-weight: normal;
	}
	
	.price {
		font-weight: bold;
		color: $blue;
	}
}

.item-remove {
	border: none;
	display: block;
	background-image: url(../assets/remove.svg);
	background-size: 2rem;
	background-repeat: no-repeat;
	background-position: center;
	font-size: 0;
	height: 1.5rem;
	width: 1.5rem;
	
}

.total {
	padding: 0 1rem;
}

.label {
	display: block;
	font-weight: normal;
	color: gray;
	margin-bottom: .5em;
}

.number {
	font-size: 2.5rem;
}